<%- include('./partials/head', { title }) %>

<%- include('./partials/navbar', { title }) %>

<h3><%= message.text %></h3>
<p> -- by <%= message.user %></p>
<em> <%= message.added %> </em>


<%- include('./partials/foot') %>